body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
  color: #222;
}

/*This forces every image to be exactly 200 pixels tall, no matter the original size. */

.card-img-top {
    height: 200px;
    object-fit: cover;
}


/* Make nav links a little bolder */
.navbar .nav-link { font-weight: 600; }


#hobbyCarousel .carousel-item img {
    height: 350px;           
    width: 100%;             
    object-fit: cover;        
    object-position: center;  
    border-radius: 8px;      
}

#hobbyCarousel .carousel-caption .carousel-text {
    font-weight: bold;
    color: black !important;
    font-size: 2em;           /* large text for desktop */
    text-shadow: none !important;
}

/* Smaller font for small screens */
@media (max-width: 768px) {
    #hobbyCarousel .carousel-caption .carousel-text {
        font-size: 1em;       /* smaller text on mobile */
    }
}