body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
  color: #222;
}

/*This forces every image to be exactly 200 pixels tall, no matter the original size. */

.card-img-top {
    height: 200px;
    object-fit: cover;
}


/* Make nav links a little bolder */
.navbar .nav-link { font-weight: 600; }